* {
    margin : 0;
    padding : 0;
}

img{
    cursor: pointer;
}

body{
    background-color: black;
}

/* --- nav --- */

.navigation-bar{
    background-color: black;
    position: fixed;
    top: 0px;
    z-index: 1;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 20px;
}

.logo{
    /* 유연하게 만듬 */
    flex: 1;
    display: flex;
    align-items: center;
}

.logo img{
    top: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu-container{
    flex: 2;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.navigation-bar .menu-container ul{
    display: flex;
    list-style: none;
}

.navigation-bar .menu-container li{
    padding: 1rem;
}

.navigation-bar .menu-container li a{
    text-decoration: none;
    color: white;
    padding: 0;
    display: block;
}

.navigation-bar li a:hover{
    color: gray;
    font-size: 15px;
}

.set-container{
    flex: 1;
    display: flex;
    align-items: center;
}

.search-bar{
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-right: 3%;
    justify-content: center;
}

.input-bar{
    border-radius: 12px;
    height: 30px;
    background-color: rgb(35, 34, 34);
    margin-bottom: 10%;
    color: white;
    font-weight: bold;
}

.search-bar img{
    padding-top: 15%;
    max-width: 20px;
    cursor: pointer;
}

.setting{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.setting li{
    margin-left: 10px;
}

.notice, .my-page{
    padding: 0.5rem;
    max-width: 25px;
    height: auto;
    object-fit: cover;
}

/* --- banner --- */

.banner{
    background-image: url(./netflix_img/theifs_banner.jpeg);
    background-size: contain;
    background-position: center;
    height: 650px;
    width: 100%;
    color: white;
    background-repeat: no-repeat;
}

.banner-container{
    margin-left: 5%;
    padding-top: 30%;
    height: 190px; 
}

.banner-title{
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 0.3rem;
}

.banner-btn{
    width: 5rem;
    height: 2rem;
    border-radius: 12px;
    background-color: rgb(224, 224, 224);
    color: black;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

.banner-details{
    font-weight: bold;
}

.banner-btn button{
    width: 60px;
    height: 30px;
    border-radius: 2px;
    border : 1px solid transparent
}

.banner-btn button :hover{
    background-color: gray;
    cursor: pointer;
}

.banner-details{
    line-height: 1.5;
    padding-top: 0.5rem;
    font-size: 1rem;
}

/* content-list */

.contents-box{
    overflow: hidden;
    white-space: nowrap;
    margin-left: 25px;
    margin-top: 20px;
}

.content-title{
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 1.5rem;
}

.content-list{
    width: 100%;
    height: auto;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.content-img{
    width: 200px;
    height: 200px;
    object-fit: fill;
    max-height: 300px;
    transition: transform 450ms;
}

.content-img:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.contents-box::-webkit-scrollbar{
    display: none;
}

/* footer */

.footer{
    display: flex;
    flex-direction: column;
}

.app-box{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.app-box>img{
    width: 30px;
    height: 30px;
    padding: 1% 1% 1% 1%;
}

.service-details{
    width: 100%;
    height: auto;
    justify-content: center;
}

.row-list{
    display: flex;
    color: white;
    list-style: none;
}

.list{
    padding: 0 16px;
    text-align: center;
}

.copyright-text{
    color: gray;
    margin-top: 2%;
    font-size: 12px;
}



